* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #fff;
    background-color: #000;
    font-size: 24px;
}

header a:hover {
    color: #000;
    background-color: #ccc;
}

aside .content-aside {
    height: 100%;
    background-color: #f1f1f1;
    border-left: 1px solid #ccc;
    z-index: 3;
}

    .content-aside #navClick {
        position: fixed;
        overflow: scroll;
        display: none;
        top: 0 !important;
        z-index: 5;
    }

    #navClick .heading-content h3,
    #navClick .heading-content h6 {
        font-weight: 400;
        padding: 8px 0;
    }

    #navClick nav a {
        color: #000;
        display: block;
        padding: 16px 0;
    }

    #navClick .form-1 button {
        padding: 0 !important;
        color: #fff;
        background-color: #4CAF50;
    }

    #navClick nav a:hover,
    #navClick .form-1 button:hover {
        text-decoration: none;
        background-color: #ccc;
        color: #000;
    }

.container {
    top: 0 !important;
    border-right: 1px solid #ccc;
}

    section .slider img {
        width: 25%;
        opacity: 0.6;
    }

    section .part button,
    #contact button,
    .content-modal button {
        color: #fff;
        background-color: #4CAF50;
        border: none;
        width: 30vh;
        padding: 10px;
    }

    section .part button:hover,
    .content-modal button:hover {
        color: #000;
        background-color: #ccc;
    }



    #bg-side {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        display: none;
        background-color: rgba(0,0,0,0.5);
        z-index: 5;
      }

/* MYSLIDER */
.mySlides {
    display: none;
}

.opacity-1 {
    opacity: 1 !important;
}


/* MYSLIDER */

#modal {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    padding-top: 30vh;
}

#modal .content-modal {
    margin: 0 10vh;
    background-color: #fff;
}

